[submodule "hugo-papermod"]
	path = themes/hugo-PaperMod
	url = https://github.com/parsa-ra/hugo-papermode.git
	branch = parsasTheme
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
